/** 
 * @name quicksand.font.vencord 
 * @author k3rodev 
 * @description soft minimalist font resource 
 * @website https://youtube.com/@k3rovr 
 */ 

@import url('https://googleapis.com');

:root { 
  --font-primary: "Quicksand", sans-serif; 
  --font-display: "Quicksand", sans-serif; 
  --font-headline: "Quicksand", sans-serif; 
  --font-code: monospace; 
} 

*, ::placeholder, body, button, input, select, textarea { 
  font-family: "Quicksand", sans-serif !important; 
}
