/** 
 * @name quicksand.font.vencord 
 * @author k3rodev 
 * @description soft coolio font
 * @website https://youtube.com/@k3rovr 
 */ 

<style>
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
</style>

:root { 
  --font-primary: "Quicksand", sans-serif; 
  --font-display: "Quicksand", sans-serif; 
  --font-headline: "Quicksand", sans-serif; 
  --font-code: monospace; 
} 

*, ::placeholder, body, button, input, select, textarea { 
  font-family: "Quicksand", sans-serif !important; 
}
